* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 80%;
  height: 500px;
  border: 1px solid #333;
  margin: 0 au;
  position: relative;
  overflow: hidden;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

.mario {
  width: 140px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-in-out;
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 200px;
  }

  60% {
    bottom: 200px;
  }
  100% {
    bottom: 0;
  }
}
