* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 80%;
  height: 500px;
  border-bottom: 15px solid rgb(51, 208, 69);
  margin: auto;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#59caf7, #e0f6ff);
  justify-content: center;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

.mario {
  width: 140px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-in-out;
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 200px;
  }

  60% {
    bottom: 200px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes game-over {
  0% {
    bottom: 110px;
  }

  50% {
    bottom: 130px;
  }

  60% {
    bottom: 130px;
  }

  100% {
    bottom: -110px;
  }
}

.clouds1 {
  position: absolute;
  margin-top: 80px;
  width: 500px;
  animation: clouds-animation 30s infinite linear;
}

@keyframes clouds-animation {
  from {
    right: -300px;
  }
  to {
    right: 100%;
  }
}

.clouds {
  position: absolute;
  margin-top: 10px;
  width: 550px;
  animation: clouds-animation 20s infinite linear;
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }
  to {
    right: 100%;
  }
}
